<div class="header">
    <div class="logo">

    </div>
    <div class="menu">
        <label for="show-menu" class="show-menu">&#9776;</label>
        <input type="checkbox" id="show-menu" role="button">
        <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
            <li ui-sref-active="active"><a ui-sref="services">services</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>
</div>