<div class="header">
    <div class="logo">
        <img src="rosefoxlogo-final.png" alt="Rose Fox Logo">
    </div>
    <div class="menu">
        <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
            <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>

    <div>
        <button class="hamburger-btn" ng-click="$ctrl.openMenu()">&#9776;</button>
    </div>

    <div id="hamburger" class="hamburger">
        <a href="javascript:void(0)" class="closebtn" ng-click="$ctrl.closeMenu()">&times;</a>
        <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
            <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
        <div class="social-mobile">
            <ul>
                <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <!--<i class="fa fa-pied-piper" aria-hidden="true"></i>-->
            </ul>
        </div>
    </div>
</div>
    