<div class="header">
    <div class="logo">

    </div>
    <div class="menu">
        <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
            <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>
    <div class="hamburger">
        <h1>&#9776;</h1>
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger"></label>
         <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="portfolio">Portfolio</a></li>
            <li ui-sref-active="active"><a ui-sref="services">Services</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="blog">Blog</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>
</div>