/*header*/

.logo {
    border: 5px solid #efccd1;
    width: 9%;
    height: 19%;
    position: absolute;
    top: 3%;
    left: 1%;
}

.menu {
    left: 9%;
    position: absolute;
    top: 3%;
    visibility: visible;
}

.menu ul {
	list-style: none;
    /*padding-left: 0;*/
    /*text-align: center;*/
}

.menu li {
    font-weight: bold;
    font-family: 'Yatra One', cursive;
    font-size: 17px;
    padding-bottom: 2%;
}

.menu a {
	color: #efccd1;
}

.menu a:hover {
    color: cornsilk;
    text-decoration: none;
}

.hamburger-btn {
    visibility: hidden;
}

.hamburger {
    width: 0;
}

/*home*/

.home-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  height: auto;
  width: 100%;
	
  /* Set up positioning */
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}

.intro {
    left: 0;
    position: absolute;
    top: 35%;
}

.intro h1 {
    background-color: #efccd1;
    font-family: 'Yatra One', cursive;
    font-size: 85px;
    margin-bottom: 0;
    padding: 1% 3% 1% 3%;
    width: 101%;
}

.intro h3 {
    background-color:darkslategray;
    color: #efccd1;
    font-family: 'Yatra One', cursive;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1% 0 1% 59%;
    width: 115%;
}

.intro h4 {
    background-color: cornsilk;
    color: darkslategrey;
    font-family: 'Lobster Two', cursive;
    margin-top: 0;
    padding: 1% 0 1% 0;
    text-align: center;
    font-weight: bold;
    visibility: visible;
}

.introtwo h4 {
    visibility: hidden;
}

.social {
    position: absolute;
    right:1%;
    top: 1%;
}

.social i {
    color: #f3dfe2;
}

.social i:hover {
    color:cornsilk;
}

.social-mobile {
    visibility: hidden;
}

.portfolio {
    background-color: darkslategrey;
    border: 1px solid cornsilk;
    padding: 0 2% 0 2%;
    position: absolute;
    right: 0;
    top: 60%;
}

.portfolio a {
    color:#efccd1;
    font-size: 25px;
    font-family: 'Yatra One', cursive;
}

.portfolio a:hover {
    color:cornsilk;
    text-decoration: none;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .home-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


@media screen and (max-width: 680px) {
  .hamburger-btn {
    background-color: #efccd1;
    border: none;
    height: 5%;
    position: absolute;
    right: 2%;
    top: 1%;
    visibility: visible;
    width: 9%;
  }

  .hamburger {
    background-color:darkslategray;
    height: 100%;
    overflow-x: hidden;
    padding-top: 14%; 
    position: fixed; 
    right: 0;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1; 
  }

  .hamburger a {
    color:darkslategrey;
    display: block;
    font-family: 'Yatra One', cursive;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 10px;
    text-decoration: none;
    transition: 0.3s
}

.hamburger li {
    border-bottom: 1px solid darkslategrey;
    background-color: #efccd1;
}

.hamburger ul {
    list-style: none;
    padding-left: 0;
}

.hamburger a:hover {
    color: darkslategray;
}

.hamburger .closebtn {
    color: #efccd1;
    font-size: 35px;
    left: 0;
    position: absolute;
    top: 0;
}

    .intro {
    left: 19%;
    top: -2%;
  }

  .intro h1 {
    font-size: 25px;
    padding: 1% 3% 1% 3%;
    width: 63%;
  }

  .intro h3 {
    font-size: 13px;
    padding: 1% 0 1% 19%;
    width: 70%;
  }

  .intro h4 {
      visibility: hidden;
  }

  .introtwo h4 {
      font-family: 'Lobster Two', cursive;
      font-weight: bold;
      visibility: visible;
      color: cornsilk;
  }

  .introtwo:first-child {
      position: absolute;
      top: 5%;
      left: 5%;
  }

  .introtwo:nth-child(2) {
      position: absolute;
      top: 8%;
      left: 11%;
  }

  .introtwo:nth-child(3) {
      position: absolute;
      top: 11%;
      left: 14%;
  }

  .logo {
    width: 14%;
    height: 8%;
    top: 1%;
    left: 2%;
  }

  .menu {
      visibility: hidden;
  }

  .social {
      visibility: hidden;
  }

  .social-mobile {
    visibility: visible;
    bottom: 1%;
    right: 38%
  }

  .social-mobile li {
      background-color: darkslategray;
      border: none;
      display: inline-block;
  }

  .social-mobile i {
    color: #f3dfe2;
}

.social-mobile i:hover {
    color:cornsilk;
}
}

  



