/*body .home {
   background: url(images/peonies.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   */

/*home*/

.home .container-fluid {
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}


.home-bg {
    max-width: 100%;
    height: auto;
}

