<div class="home container-fluid">
    <img class="home-bg" src="images/peonies.jpg" alt="">
    <div class="intro">
        <h1>Rose Fox</h1>
        <h3>Web Designs</h3>
        <h4>Simple. Beautiful. Responsive.</h4>
    </div>
    <div class="portfolio">
        <h4><a href="">Portfolio</a></h4>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <!--<i class="fa fa-pied-piper" aria-hidden="true"></i>-->
    </div>
</div>