<div class="home container-fluid">
<header-component></header-component>
    <img class="home-bg" src="images/peonies.jpg" alt="">
    <div class="intro">
        <!--<h1>Rose Fox</h1>
        <h3>Web Designs</h3>-->
        <img src="Rose_Fox_Title_Web.png" alt="Rose Fox Title">
        <h4>Simple. Beautiful. Responsive.</h4>
    </div>
    <div class="introtwo">
        <h4 style="position: absolute; top: 19%; left: 11%">Simple.</h4>
        <h4 style="position: absolute; top: 25%; left: 9%" >Beautiful.</h4>
        <h4 style="position: absolute; top: 31%; left: 8%">Responsive.</h4>
    </div>
    <div class="portfolio">
        <h4><a href="">Portfolio</a></h4>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <!--<i class="fa fa-pied-piper" aria-hidden="true"></i>-->
    </div>
</div>